<head>
  <title>{{ page.title }} Shoeshine</title>
  <meta charset="utf-8" />
  <meta name="author" content="Susanna Young, Gustav Ehrenborg" />
  <meta name="keywords" content="shoe, shoes, shoeshine, shoeshine, polish, spitshine, brush, cream, polish" />
  <meta name="description" content="Shoeshine - learn how to take care of and polish shoes." />
  <meta name="robots" content="index, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta property="og:title" content="Shoeshine" />
  <meta property="og:description" content="Learn how to take care of and polish shoes." />
  <meta property="og:url" content="https://shoeshine.ehrenb.org/" />
  <meta property="og:image" content="https://shoeshine.ehrenb.org/images/lv7.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Shoeshine" />
  <link rel="stylesheet" href="{{ "stylesheets/stylesheet.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="icon" type="image/png" href="images/favicon_shoeshine.png" />
</head>
