<header>
  <div class="mencontainer">
    <div class="logo-div">
      <h1><a href="{{ "/" | site.baseurl }}">Shoeshine.se</a></h1>
    </div>
    <div class="menu-div">
      <div class="">
        <h2>Läder</h2>
        <h3><a href="{{ "clean-leather.html" | prepend: site.baseurl }}">Rengör</a></h3>
        <h3><a href="{{ "care-leather.html" | prepend: site.baseurl }}">Vårda</a></h3>
        <h3><a href="{{ "spitshine.html" | prepend: site.baseurl }}">Putsa</a></h3>
      </div>
      <div class="">
        <h2>Mocka</h2>
        <h3><a href="{{ "clean-suede.html" | prepend: site.baseurl }}">Rengör</a></h3>
        <h3><a href="{{ "care-suede.html" | prepend: site.baseurl }}">Vårda</a></h3>
        <span class="divider-pipe">|</span>
        <h3><a href="{{ "sole-edges.html" | prepend: site.baseurl }}">Sulkanter</a></h3>
      </div>
    </div>
    <div class="fleuron-div"><span class="fleuron">❧</span></div>
  </div>
</header>
